@import '../../styles/variables';
@import './components/jobcard.scss';

ul {
  list-style: none;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mr-20 {
  margin-right: 20px;
}

.jobcard {
  .jobcard-nav {
    margin-top: -15px;

    ul {
      list-style: none;
      display: flex;
      padding: 0;
      border-radius: 3px;
      background-image: url('../../assets/images/bg-nav.png');

      li {
        height: 32px;
        line-height: 36px;
        font-size: 15px;
        font-family: BebasNeue-Bold;
        background: url('../../assets/images/bg-arrow.png') no-repeat 0;
        padding: 0 15px 0 25px;
        
        a {
          color: $bg-color;
          text-transform: uppercase;
        }
      }

      li:first-child {
        background-image: none;
      }
    }
  }

  .serviceRecommendation {
    h1 {
      font-size: 46px;
    }

    li {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      background-image: url('../../assets/images/info-icon.png');
      background-repeat: no-repeat;
      padding-left: 30px;

      p {
        margin: 0;
      }

      .ant-form-item {
        width: 300px;
        padding-left: 30px;
        margin: 0;
      }
    }
  }

  .wrapper-btn {
    max-width: 300px;
    margin: 0 auto;

    .btn {
      height: 43px;
      border-radius: 5px;
      width: 100%;
      background: #5c2e91;
      color: #fff;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

.login {
  max-width: 300px;
  .wrapper-btn {
    max-width: 300px;
    margin: 0 auto;

    .btn {
      height: 43px;
      border-radius: 5px;
      width: 100%;
      background: #5c2e91;
      color: #fff;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

.ant-select-dropdown {
  min-width: fit-content!important;
}