@font-face {
  font-family: 'BebasNeue-Bold';
  src: url('../assets/fonts/BebasNeue-Bold.ttf'); 
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../assets/fonts/Montserrat-Bold.ttf'); 
}