@import './variables';
@import './common';
@import 'antd/dist/antd.css';

// component styles
@import '../components/login/Login.scss';
@import '../components/dashboard/Dashboard.scss';
@import '../components/previousJobs/PreviousJobs.scss';

// container styles
@import '../containers/jobcard/index.scss';

html {
  --antd-wave-shadow-color: $bg-color;
}

h1 {
  font-family: BebasNeue-Bold;
  text-align: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  max-width: $max-width;
  font-family: Roboto, roboto-regular, sans-serif;
}

.main-title {
  font-size: 50px;
  color: #373737;
  text-align: center;
}

.form {
  .ant-row {
    justify-content: center;
  }
}

.icon-view {
  background: url('../assets/images/view-icon.png') no-repeat 50%;
  display: block;
  width: 20px;
  height: 20px;
}

.icon-edit {
  background: url('../assets/images/edit-icon-blue.png') no-repeat 50%;
  display: block;
  width: 20px;
  height: 20px;
}

.icon-remove {
  background: url('../assets/images/remove-icon.png') no-repeat 50%;
  display: block;
  width: 20px;
  height: 20px;
}

.clear-btn-default {
  background: transparent;
  border: none;
  cursor: pointer;
}