@import '../../styles/variables';

.header {
  background-color: $bg-color;

  .wraper-header {
    display: flex;
    padding: 20px;

    .logo {
      &:hover {
        cursor: pointer;
      }
    }
  }
}