@import '../../styles/variables';

.header {
  background-color: $bg-color;

  .wraper-header {
    display: flex;
    padding: 33px;
    max-width: $max-width;

    .logo {
      &:hover {
        cursor: pointer;
      }
      
      img {
        width: 100px;
      }
    }
  }
}